<!DOCTYPE html>
<html>
<head>

 <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/public-files/css/bootstrap.min.css">
    <script src="/public-files/js/jquery-3.1.1.min.js"></script>
    <script src="/public-files/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/public-files/front/front.css">
    <script src="/public-files/front/front.js"></script>
 
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Farsan|Titillium+Web|Cookie|Marck+Script|Aref+Ruqaa|Quintessential|Amita" rel="stylesheet">
    </head>

<body class="container-fluid" id="full-width">
<!-- log/sign div started-->
    
    <div class="container-fluid" id="log-sign-div">
        <!--Heading/logo-->
        <div class="row" id="logo-div">
        <img class="logo" src="public-files/front/taz_logo.png">
        </div>
        <!--main container-->
        <div class="row">
        <!--lOGIN sECTION-->
        <div class="col-xs-1"></div> <!- lEFT GAP-->
        <div class="col-md-4 col-sm-4 col-xs-12" id="login-div">
            <p class="login">Login</p>
            <form id="login-form" action="/login" method="post">
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" class="form-control" name="lusername" required>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" name="lpassword" required>
                </div>
                <div><button type="submit" id="login-button" class="btn btn-default">Submit</button></div>
            </form>
            </div>
            <!--sIgnup section-->
            <div class="col-xs-1 vert-mid-line-right gaps"></div> <!- lEFT GAP for signup-->
            <div class="col-xs-1 vert-mid-line-left gaps"></div> <!- lEFT GAP for signup-->

            <div class="col-md-4 col-sm-4 col-xs-12" id="signup-div">
            <p class="login">Signup</p>
            <form id="signup-form">
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" class="form-control" name="rusername" required>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" name="remail" required>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" name="rpassword" required>
                </div>
                <div><button type="submit" id="signup-button" class="btn btn-default">Submit</button></div>
            </form>
        </div>
        </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
        <span id="skip-text"><p>Click here to skip</p></span></div>
            
        </div>
        
<!-- log/sign div ended-->    
    
    

    <div class="container-fluid" id="full-width">
<nav class="navbar navbar-default navbar-fixed-top" id="buttons">
      <div class="container-fluid">
        <div class="navbar-header">
          <button id="burger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" id="head-text">TAZ Resumes</a>
        </div>
        
          
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">

    <li id="scroll-to-home" class="btn btn-color target"><span><a>Home</a></span></li>
    <li id="scroll-to-why-us" class="btn btn-color target"><span><a>Why Us</a></span></li>
    <li id="scroll-to-gallery" class="btn btn-color target"><span><a>Gallery</a></span></li>
    <li id="scroll-to-contact" class="btn btn-color target"><span><a>Contact</a></span></li>
    <li id="open-sign-in1" class="btn btn-color target"><span><a>Login</a></span></li>
    <li id="open-sign-in2" class="btn btn-color target"><span><a>Signup</a></span></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<section class="container-fluid" id="home">

<div class="col-md-12 col-sm-12 col-xs-12" id="welcome-div">
    <p id="wp1" style="font-size: 4em">Welcome!</p>
    <p id="wp2"><strong>TAZ Resumes</strong> is an innovative platform to create eye-catching and profesional resumes for <span>FREE!</span></p>
    <p id="wp3">Stop wasting your precious time and money on simple boring resumes.</p>
    <p id="wp4">Register Now to get access to our Resume Gallery and create awesome resumes.</p>
    </div>
    
    <div class="col-md-12" style="align-content: center" id="crn-btn">
            <div class="col-md-5 col-sm-3 col-xs-3"></div>
            <div class="col-md-2 col-sm-6 col-xs-6" id="home-sec-but"><p>Create Resume Now!</p></div>
    </div>
        </section>
    
        <!-- WHY US SECTION STARTED-->
        
<section class="row" id="why-us">
<p class="col-md-12 col-sm-12 col-xs-12 section-heading" style="text-align: center">WHY US?</p>
    <div class="col-md-6" id="why-us-text">
        <p>We assure 100% satisfaction and our <strong>Great Collection of Templates</strong> <br>is all according to your taste and fulfill professional needs.</p>
        <p>Our all resume templates are:</p>
        <ul>
        <li>Eye-catching and Professional</li>
        <li>According to the Expert's Guidelines</li>
        <li>Designed bla bla</li>
        </ul>
    </div>
    <div class="col-md-6 col-xs-12" style="padding-top: 5%;">
    <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0G4ZCQf2ChU"></iframe>
  </div>
    </div>
</section>
        <!-- WHY US SECTION ENDED-->
        
        
    <!-- GALLERY SECTION STARTED-->
<section class="row" id="gallery">
    <p class="col-md-12 col-sm-12 col-xs-12 gallery-heading" style="text-align: center">Our Beautiful Themes</p>
    <div>
        <div class="col-md-3 col-xs-12 col-sm-12 thumbnail"><img src="public-files/img/CV1.png"></div>
        <div class="col-md-3 col-xs-12 col-sm-12 thumbnail"><img src="public-files/img/CV2.png"></div>
        <div class="col-md-3 col-xs-12 col-sm-12 thumbnail"><img src="public-files/img/CV3.png"></div>
        <div class="col-md-3 col-xs-12 col-sm-12 thumbnail"><img src="public-files/img/CV4.png"></div>
    </div>
    </section>
        <!-- GALLERY SECTION STARTED-->
        
        
        

<!-- CONTACT DIV STARTED-->        
<section class="row" id="contact">
    <p class="col-md-12 col-sm-12 col-xs-12 section-heading" style="text-align: center">Contact Us</p>
    
    <div class="col-md-5 col-sm-12 col-xs-12" style="padding: 5% 0 0 5%">
            <form>
                <div class="form-group">
                    <label class="contact-form">Name</label>
                    <input type="text" class="form-control" name="cname">
                </div>
                <div class="form-group">
                    <label class="contact-form">Email</label>
                    <input type="email" class="form-control" name="cemail">
                </div>
                <div class="form-group">
                    <label class="contact-form">Message</label>
                    <textarea style="resize: none" class="form-control" rows="5" name="cemail"></textarea>
                </div>
                <div><button type="submit" id="login-button" class="btn btn-default">Submit</button></div>
            </form>
            </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-xs-12">
        <img class="img img-responsive center-block" src="public-files/front/multi-tasking.png" style="width: 55%">
    </div>
    </section>
    
    <footer class="row" id="footer">
    <div class="col-md-12">
        <p id="footer-text">Copyright &copy 2017<br> <a href="https://www.facebook.com/shani.awan.1044" target="_blank">Shah Nawaz Awan</a> | <a href="http://www.mfaheemakhtar.com/" target="_blank">Muhammad Faheem Akhtar</a> | <a>Ahmad Muhammad</a></p>
    </div>
    </footer>    
        <!-- CONTACT DIV ENDED-->
    
</div>  
    
</body>

    
</html>